*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 36px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
}
h2 {
    font-size: 24px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
}
h3 {
    font-size: 16px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
}
p {
    font-size: 16px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
}

#header{
    /*fixedで上部固定*/
	position: fixed;
	width:100%;
    z-index: 999;/*最前面へ*/
}
#header.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 1;
	transform: translateY(0);
  }
  to {
    opacity: 0;
	transform: translateY(-100px);
  }
}
#header.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-100px);
  }
  to {
  	opacity: 1;
	transform: translateY(0);
  }
}

nav {
    height: 160px;
    display: flex;
    justify-content: space-between;
    padding-left: 24%;
    padding-right: 12%;
    background-color: #ED6139;
}
nav p {
    writing-mode: vertical-rl;
    font-size: 40px;
    letter-spacing: 15px;
    color: #fffffb;
    padding-top: 16px;
}
nav ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
nav li {
    writing-mode: vertical-rl;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
    list-style: none;
}
nav a {
    text-decoration: none;
    padding-top: 20px;
    letter-spacing: 3px;
    color: #fffffb;
}
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 480px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
.container {
    position: relative;
	width: 100vw;
	height: 102vh;
}

.image {
    position: absolute;
    margin-top: 160px;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 20s infinite;
}
.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 5s;
}
.image:nth-of-type(3) {
	animation-delay: 10s;
}
.image:nth-of-type(4) {
	animation-delay: 15s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	20%{ opacity: 1;}
	30%{ opacity: 1;}
	35%{ opacity: 0;}
	100%{ opacity: 0;}
}

.fv h1{
    writing-mode: vertical-rl;
    color: #1c1c1c;
    font-size: 24px;
    position: absolute;
    top: 43%;
    left: 87%;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
    letter-spacing: 10px;
  }

.orange {
    margin-top: 160px;
    padding: 3% 3% 0;
    background-color: #ED6139;
}

.white {
    margin-top: 0px;
    padding: 0 15% 15%;
    background-color: #fffffb;
}

.fadein {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s;
}

#about {
    margin-bottom: 26%;
    padding-top: 14%;
}

#about h1 {
    padding-top: 5%;
}
#about p {
    padding-top: 1%;
}
#about h2 {
    font-size: 20px;
    padding-top: 2%;
}
#about h3 {
    font-size: 16px;
    padding-top: 30px;
}
#about h4 {
    font-size: 16px;
}
#about img {
    height: 314px;
    width: 280px;
}

.bugaku {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
    .bugaku { flex-direction: column;}
}

.hidari {
    display: flex;
    border: #ED6139 solid 3px;
    width: 470px;
    height: 320px;
    margin-top: 60px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
    position: relative;
}
.hidari .moji {
    padding: 44px;
    text-align: center;
}
.hidari h4 {
    padding-top: 45px;
}
.hidari span{
    color: #E22E00;
}

.migi {
    display: flex;
    border: #7ba23f solid 3px;
    width: 470px;
    height: 320px;
    margin-top: 60px;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shippori Mincho', serif;
}
.migi .moji {
    padding: 36px;
    text-align: center;
}
.migi h4 {
    padding-top: 35px;
}
.migi span {
    color: #024C47;
}


#gara {
    padding-top: 20px;
    position: relative;
    padding-bottom: 1000px;
}
#gara p {
    padding-top: 20px;
}

.s_section img {
    position: absolute;
}
.s_section p {
    font-size: 18px;
}


.tori img {
    width: 50%;
    top: 3%;
    left: 60%;
    transform: rotateZ(20deg);
    z-index: 998;
}
.tori p {
    position: absolute;
    top: 22%;
    left: 95%;
}
.hana1 img{
    width: 23%;
    transform: rotateZ(10deg);
    top: 13%;
    left: 36%;
}
.hana2 img{
    width: 20%;
    transform: rotateZ(350deg);
    top: 24%;
    left: 55%;
}
.hana1 p {
    position: absolute;
    top: 30%;
    left: 50%;
}
.tyou img {
    width: 20%;
    top: 17%;
    left: 16%;
}
.tyou p {
    position: absolute;
    top: 27%;
    left: 13%;
}
.ryu img {
    position: absolute;
    width: 45%;
    top: 30%;
    left: 68%;
}
.ryu p {
    position: absolute;
    top: 47%;
    left: 103%;
}
.shishi img {
    position: absolute;
    width: 43%;
    transform: rotateZ(20deg);
    top: 39%;
    left: -2%;
}
.shishi p {
    position: absolute;
    top: 55%;
    left: 15%;
}
._a {
    display: inline-block;
    background: #1c1c1c;
    transition: all .4s ease-in-out;
}
._a img {
    display: block;
}
._a:hover img {
    opacity: 0.7;
}


#ennmoku {
    position: relative;
    margin-bottom: 100px;
}

.photo img{
    position: absolute;
    width: 27%;
    height: auto;
    border: #fffffb solid 5px;
}
.photo1 {
    left: 6%;
    top: -15%;
}
.photo2 {
    left: 78%;
    top: -15%;
}
.photo3 {
    left: 6%;
    top: -15%;
}
.photo4 {
    position: absolute;
    width: 16%;
    left: -10%;
    top: 33%;
    transform: rotateZ(20deg);
}
.photo5 {
    position: absolute;
    width: 10%;
    left: 99%;
    top: 3%;
    transform: rotateZ(15deg);
}
.photo6 {
    position: absolute;
    width: 25%;
    left: 97%;
    top: 105%;
    transform: rotateZ(15deg);
}
.photo p {
    padding-top: 20px;
}

.fadein1-1 {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1.5s;
}
.fadein1-2 {
    opacity: 0;
    transform: translateY(0px);
    transition: all 1.5s;
}
.fadein1-3 {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.5s;
}

.ryouou {
    border: #ED6139 solid 1px;
    width: 86%;
    margin-left: 20%;
    margin-top: 14%;
    padding-left: 20%;
    padding-bottom: 5%;
}

.tourika {
    border: #7ba23f solid 1px;
    width: 86%;
    margin-left: 6%;
    margin-top: 18%;
    padding-left: 8%;
    padding-bottom: 5%;
}

.karyoubinn {
    border: #ED6139 solid 1px;
    width: 86%;
    margin-left: 20%;
    margin-top: 18%;
    padding-left: 20%;
    padding-bottom: 5%;
}

#link {
    padding: 140px 150px 90px;
    color: #fffffb;
}
#link h1 {
    padding: 100px 10px 0;
}
#link p {
    text-align: center;
}

.link {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.fadein2 {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1.2s;
}

.link p {
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}
@media only screen and (max-width: 1200px) {
    .instagram p { display: none;}
    .youtube p { display: none;}
    .facebook p { display: none;}
}

.instagram img {
    width: 40px;
}
.instagram p{
    float: right;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 18px;
}

.youtube img {
    width: 50px;
}
.youtube p{
    float: right;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 18px;
}

.facebook img {
    width: 40px;
}
.facebook p{
    float: right;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 18px;
}

.homepage img {
    border: #fffffb solid 2px;
    width: 350px;
    margin-top: -20px;
}

footer {
    height: 35px;
    color: #7ba23f;
    line-height: 35px;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}


.a-modal-org {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 190002;
}
.a-modal-org__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
@media print, screen and (min-width: 737px) {
    .a-modal-org__inner {
        width: 80vw;
    }
}
@media screen and (max-width: 736px) {
    .a-modal-org__inner {
        width: 85vw;
    }
}
.a-modal-org__inner2 {
    position: relative;
    width: 100%;
    border: #ED6139 solid 10px;
}
.a-modal-org__inner3 {
    background-color: #ffffff;
}
@media print, screen and (min-width: 769px) {
    .a-modal-org__inner3 {
        height: 80vh;
        
        border: 1.5rem solid #fff;
    }
}
@media print, screen and (max-width: 768px) {
    .a-modal-org__inner3 {
        max-height: 70vh;
        border-radius: 6px;
        border: 1.125rem solid #fff;
    }
}
.a-modal-org__body {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.a-modal-org__scroll.is-scroll {
    overflow-y: scroll;
}
@media print, screen and (min-width: 769px) {
    .a-modal-org__scroll.is-scroll {
        padding-right: 0.5rem;
    }
}

.a-modal-org__scroll {
    padding: 15px 90px;
    position: relative;
}
.a-modal-org__scroll h2 {
    padding-left: 80px ;
}
.a-modal-org__scroll img {
    padding-top: 10px;
    width: 350px;
}

.a-modal-org__scroll p {
    margin-top: 40px;
}
.a-modal-org__scroll h3 {
    font-size: 20px;
    margin-top: 130px;
}

.memo-a {
    display: flex;
    position: relative;
}
.memo-a1 {
    padding-left: 80px;
}
.memo-a1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-a1 .img2 {
    position: absolute;
    width: 8%;
    left: 92%;
    top: 53%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-a1 .img3 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 63%;
    transform: rotateZ(20deg);
}

.memo-b {
    display: flex;
    position: relative;
}
.memo-b1 {
    padding-left: 80px;
}
.memo-b1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-b1 .img2 {
    position: absolute;
    width: 8%;
    left: 92%;
    top: 53%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-b1 .img3 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 64%;
    transform: rotateZ(20deg);
}

.memo-c {
    display: flex;
    position: relative;
}
.memo-c1 {
    padding-left: 80px;
}
.memo-c1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-c1 .img2 {
    position: absolute;
    width: 8%;
    left: 92%;
    top: 63%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-c1 .img3 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 65%;
    transform: rotateZ(20deg);
}

.memo-d {
    display: flex;
    position: relative;
}
.memo-d1 {
    padding-left: 80px;
}
.memo-d1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-d1 .img2 {
    position: absolute;
    width: 8%;
    left: 92%;
    top: 63%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-d1 .img3 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 65%;
    transform: rotateZ(20deg);
}

.memo-e {
    display: flex;
    position: relative;
}
.memo-e1 {
    padding-left: 80px;
}
.memo-e1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-e1 .img2 {
    position: absolute;
    width: 8%;
    left: 92%;
    top: 63%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-e1 .img3 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 70%;
    transform: rotateZ(20deg);
}

.memo-f {
    display: flex;
    position: relative;
}
.memo-f1 {
    padding-left: 55px;
}
.memo-f1 .img1 {
    position: absolute;
    width: 10%;
    left: 62%;
    top: 30%;
    transform: rotateZ(20deg);
}
.memo-f1 .img2 {
    position: absolute;
    width: 5%;
    left: 92%;
    top: 60%;
    transform: rotateZ(0deg);
    z-index: 999;
}
.memo-f1 .img3 {
    position: absolute;
    width: 9%;
    left: 82%;
    top: 83%;
    transform: rotateZ(20deg);
}

.a-modal-org__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.a-modal-org__btn {
    box-sizing: border-box;
    background-color: #333333;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.a-modal-org__btn-inner {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    position: relative;
}
.a-modal-org__btn-inner::before, .a-modal-org__btn-inner::after {
    position: absolute;
    content: "";
    margin: auto;
    box-sizing: border-box;
    vertical-align: middle;
}
.a-modal-org__btn-inner::before {
    border-top: 2px solid #ffffff;
    width: 20px;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
}
.a-modal-org__btn-inner::after {
    border-left: 2px solid #ffffff;
    width: 0;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 9px;
    transform: rotate(45deg);
}
 
.a-display-off {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
 
.a-modal-org-overlay {
    display: none;
    z-index: 190001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

/* ここからスマホ用 */
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 480px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

@media all and (max-width: 480px){

    h1 {
        font-size: 18px;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
    }
    h2 {
        font-size: 24px;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
    }
    h3 {
        font-size: 16px;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
    }
    p {
        font-size: 10px;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
    }
    
    #header{
        /*fixedで上部固定*/
        position: fixed;
        width:100%;
        z-index: 999;/*最前面へ*/
    }
    #header.UpMove{
        animation: UpAnime 0.5s forwards;
    }
    @keyframes UpAnime{
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(-100px);
      }
    }
    #header.DownMove{
        animation: DownAnime 0.5s forwards;
    }
    @keyframes DownAnime{
      from {
          opacity: 0;
        transform: translateY(-100px);
      }
      to {
          opacity: 1;
        transform: translateY(0);
      }
    }
    
    nav {
        height: 160px;
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 16px;
        background-color: #ED6139;
    }
    nav p {
        writing-mode: vertical-rl;
        font-size: 30px;
        letter-spacing: 15px;
        color: #fffffb;
        padding-top: 25px;
    }
    nav ul {
        display: flex;
        width: 100px;
        justify-content: space-between;
    }
    nav li {
        writing-mode: vertical-rl;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
        list-style: none;
        font-size: 14px;
    }
    nav a {
        text-decoration: none;
        padding-top: 20px;
        letter-spacing: 3px;
        color: #fffffb;
    }
    
    .container {
        position: relative;
        width: 100vw;
        height: 102vh;
    }
    
    .image {
        position: absolute;
        margin-top: 160px;
        width: 100%;
        opacity: 0;
        animation: change-img-anim 20s infinite;
    }
    .image:nth-of-type(1) {
        animation-delay: 0s;
    }
    .image:nth-of-type(2) {
        animation-delay: 5s;
    }
    .image:nth-of-type(3) {
        animation-delay: 10s;
    }
    .image:nth-of-type(4) {
        animation-delay: 15s;
    }
    @keyframes change-img-anim {
        0%{ opacity: 0;}
        20%{ opacity: 1;}
        30%{ opacity: 1;}
        35%{ opacity: 0;}
        100%{ opacity: 0;}
    }
    
    .fv h1{
        writing-mode: vertical-rl;
        color: #1c1c1c;
        text-shadow: 1px 1px 2px #fffffb;
        font-size: 130%;
        position: absolute;
        top: 55%;
        left: 80%;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
        letter-spacing: 10px;
      }
    
    .orange {
        margin-top: -58px;
        padding: 10px 30px 0;
        background-color: #ED6139;
    }
    
    .white {
        margin-top: 0px;
        padding: 0 20px 160px;
        background-color: #fffffb;
    }
    
    .fadein {
        opacity: 0;
        transform: translateY(40px);
        transition: all 1.5s;
    }
    
    #about {
        margin-bottom: 280px;
        margin-top: 50px;
    }
    
    #about h1 {
        padding-top: 60px;
    }
    #about p {
        padding-top: 20px;
    }
    #about h2 {
        font-size: 14px;
    }
    #about h3 {
        font-size: 12px;
        padding-top: 15%;
    }
    #about h4 {
        font-size: 10px;
    }
    #about img {
        height: 204px;
        width: 160px;
    }
    
    .bugaku {
        flex-direction: column;
    }
    
    .hidari {
        display: flex;
        border: #ED6139 solid 3px;
        width: 73vw;
        height: 210px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
        position: relative;
    }
    .hidari .moji {
        padding: 45px 32px;
        text-align: center;
    }
    .hidari h4 {
        padding-top: 15px;
    }
    .hidari span{
        color: #E22E00;
    }
    
    .migi {
        display: flex;
        border: #7ba23f solid 3px;
        width: 73vw;
        height: 210px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Noto Serif JP', serif;
        font-family: 'Shippori Mincho', serif;
    }
    .migi .moji {
        padding: 45px 30px;
        text-align: center;
    }
    .migi h4 {
        padding-top: 15px;
    }
    .migi span {
        color: #024C47;
    }
    
    
    #gara {
        padding-top: 20px;
        position: relative;
        padding-bottom: 1000px;
    }

    #gara h1 {
        padding-top: 50px;
    }

    #gara p {
        padding-top: 10px;
    }
    
    .s_section img {
        position: absolute;
    }
    .s_section p {
        font-size: 14px;
    }
    
    
    .tori img {
        width: 80%;
        top: 130px;
        left: 25%;
        transform: rotateZ(20deg);
        z-index: 998;
    }
    .tori p {
        position: absolute;
        top: 130px;
        left: 87%;
    }
    .hana1 img{
        width: 33%;
        transform: rotateZ(10deg);
        top: 270px;
        left: 25%;
    }
    .hana2 img{
        width: 45%;
        transform: rotateZ(350deg);
        top: 310px;
        left: 52%;
    }
    .hana1 p {
        position: absolute;
        top: 360px;
        left: 40%;
    }
    .tyou img {
        width: 43%;
        top: 380px;
        left: 3%;
    }
    .tyou p {
        position: absolute;
        top: 540px;
        left: 5%;
    }
    .ryu img {
        position: absolute;
        width: 66%;
        top: 510px;
        left: 40%;
    }
    .ryu p {
        position: absolute;
        top: 665px;
        left: 93%;
    }
    .shishi img {
        position: absolute;
        width: 75%;
        transform: rotateZ(20deg);
        top: 710px;
        left: -8%;
    }
    .shishi p {
        position: absolute;
        top: 830px;
        left: 15%;
    }
    ._a {
        display: inline-block;
        background: #1c1c1c;
        transition: all .4s ease-in-out;
    }
    ._a img {
        display: block;
    }
    ._a:hover img {
        opacity: 0.7;
    }
    
    #ennmoku {
        position: relative;
        padding-top: 30px;
        margin-bottom: 100px;
    }
    
    .photo img{
        position: absolute;
        width: 109px;
        height: 93px;
        border: #fffffb solid 5px;
    }
    .photo1 {
        left: 0px;
        top: -20px;
    }
    .photo2 {
        left: 63%;
        top: -30px;
    }
    .photo3 {
        left: 0px;
        top: -30px;
    }
    .photo4 {
        position: absolute;
        width: 50px;
        left: -8%;
        top: 350px;
        transform: rotateZ(20deg);
    }
    .photo5 {
        position: absolute;
        width: 60px;
        left: 85%;
        top: 60px;
        transform: rotateZ(15deg);
    }
    .photo6 {
        position: absolute;
        width: 50%;
        left: 60%;
        top: 1020px;
        transform: rotateZ(13deg);
    }
    .photo p {
        padding-top: 20px;
    }
    
    .fadein1-1 {
        opacity: 0;
        transform: translateY(10px);
        transition: all 1.5s;
    }
    .fadein1-2 {
        opacity: 0;
        transform: translateY(0px);
        transition: all 1.5s;
    }
    .fadein1-3 {
        opacity: 0;
        transform: translateY(30px);
        transition: all 1.5s;
    }
    .left {
        padding-left: 90px;
    }
    
    .ryouou {
        border: #ED6139 solid 1px;
        width: 65vw;
        margin-left: 40px;
        margin-top: 100px;
        padding-left: 20px;
    }
    
    .tourika {
        border: #7ba23f solid 1px;
        width: 65vw;
        margin-left: 0px;
        margin-top: 80px;
        padding-left: 20px;
    }
    
    .karyoubinn {
        border: #ED6139 solid 1px;
        width: 65vw;
        margin-left: 40px;
        margin-top: 80px;
        padding-left: 20px;
    }
    .bun {
        margin-bottom: 20px;
    }
    
    #link {
        padding: 90px 22px 30px;
        color: #fffffb;
    }
    #link h1 {
        padding: 70px 10px 0;
    }
    #link p {
        text-align: left;
    }
    
    .link {
        display: flex;
        justify-content: space-between;
    }
    
    .fadein2 {
        opacity: 0;
        transform: translateY(10px);
        transition: all 1.2s;
    }
    
    .link p {
        font-family: 'Bubblegum Sans', cursive;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 1px;
    }
    
    
    .instagram img {
        width: 25px;
        padding-top: 3px;
    }
    .instagram p{
        display: none;
    }
    .youtube img {
        width: 29px;
        padding-top: 5px;
    }
    .youtube p{
        display: none;
    }
    .facebook img {
        width: 25px;
        padding-top: 3px;
    }
    .facebook p{
        display: none;
    }
    
    .homepage img {
        border: #fffffb solid 1px;
        width: 150px;
        height: 30px;
        margin-top: 0px;
    }
    
    footer {
        height: 35px;
        color: #7ba23f;
        line-height: 35px;
        text-align: center;
        font-family: 'Bubblegum Sans', cursive;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 1px;
    }
    
    
    .a-modal-org {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 190002;
    }
    .a-modal-org__inner {
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 100%;
    }
    @media print, screen and (min-width: 737px) {
        .a-modal-org__inner {
            width: 80vw;
            width: 1200px;
        }
    }
    @media screen and (max-width: 736px) {
        .a-modal-org__inner {
            width: 85vw;
        }
    }
    .a-modal-org__inner2 {
        position: relative;
        width: 100%;
        border: #ED6139 solid 10px;
    }
    .a-modal-org__inner3 {
        background-color: #ffffff;
    }
    @media print, screen and (min-width: 769px) {
        .a-modal-org__inner3 {
            height: 80vh;
            border: 1.5rem solid #fff;
        }
    }
    @media print, screen and (max-width: 768px) {
        .a-modal-org__inner3 {
            max-height: 85vh;
            border: 1.5rem solid #fff;
        }
    }
    .a-modal-org__body {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }
    .a-modal-org__scroll.is-scroll {
        overflow-y: scroll;
    }
    @media print, screen and (min-width: 769px) {
        .a-modal-org__scroll.is-scroll {
            padding-right: 0.5rem;
        }
    }
    
    .a-modal-org__scroll {
        padding: 10px 0px;
        position: relative;
    }
    .a-modal-org__scroll h2 {
        font-size: 16px;
        padding-left: 20px;
    }
    .a-modal-org__scroll img {
        padding-top: 10px;
    }
    
    .a-modal-org__scroll p {
        margin-top: 10px;
    }
    .a-modal-org__scroll h3 {
        font-size: 14px;
        margin-top: 30px;
    }
    
    .memo-a {
        flex-direction: column;
        position: relative;
    }
    .memo-a .img0 {
        text-align: center;
        width: 100%;
    }
    .memo-a1 {
        padding-left: 10px;
    }
    .memo-a1 .img1 {
        display: none;
    }
    .memo-a1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 82%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-a1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 75%;
        transform: rotateZ(20deg);
    }
    
    .memo-b {
        flex-direction: column;
        position: relative;
    }
    .memo-b .img0 {
        text-align: center;
        width: 280px;
    }    
    .memo-b1 {
        padding-left: 10px;
    }
    .memo-b1 .img1 {
        display: none;
    }
    .memo-b1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 82%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-b1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 75%;
        transform: rotateZ(20deg);
    }
    
    
    .memo-c {
        flex-direction: column;
        position: relative;
    }
    .memo-c .img0 {
        text-align: center;
        width: 280px;
    } 
    .memo-c1 {
        padding-left: 10px;
    }
    .memo-c1 .img1 {
        display: none;
    }
    .memo-c1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 82%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-c1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 75%;
        transform: rotateZ(20deg);
    }
    
    .memo-d {
        flex-direction: column;
        position: relative;
    }
    .memo-d .img0 {
        text-align: center;
        width: 280px;
    }
    .memo-d1 {
        padding-left: 10px;
    }
    .memo-d1 .img1 {
        display: none;
    }
    .memo-d1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 82%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-d1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 75%;
        transform: rotateZ(20deg);
    }
    
    .memo-e {
        flex-direction: column;
        position: relative;
    }
    .memo-e .img0 {
        padding-left: 20px;
        width: 270px;
    }
    .memo-e1 {
        padding-left: 10px;
    }
    .memo-e1 .img1 {
        display: none;
    }
    .memo-e1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 83%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-e1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 77%;
        transform: rotateZ(20deg);
    }
    
    .memo-f {
        flex-direction: column;
        position: relative;
    }
    .memo-f .img0 {
        text-align: center;
        width: 280px;
    }
    .memo-f1 {
        padding-left: 10px;
    }
    .memo-f1 .img1 {
        display: none;
    }
    .memo-f1 .img2 {
        position: absolute;
        width: 15%;
        left: 70%;
        top: 82%;
        transform: rotateZ(0deg);
        z-index: 999;
    }
    .memo-f1 .img3 {
        position: absolute;
        width: 18%;
        left: 80%;
        top: 75%;
        transform: rotateZ(20deg);
    }
    
    .a-modal-org__close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    .a-modal-org__btn {
        box-sizing: border-box;
        background-color: #333333;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
    .a-modal-org__btn-inner {
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        position: relative;
    }
    .a-modal-org__btn-inner::before, .a-modal-org__btn-inner::after {
        position: absolute;
        content: "";
        margin: auto;
        box-sizing: border-box;
        vertical-align: middle;
    }
    .a-modal-org__btn-inner::before {
        border-top: 2px solid #ffffff;
        width: 20px;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        transform: rotate(45deg);
    }
    .a-modal-org__btn-inner::after {
        border-left: 2px solid #ffffff;
        width: 0;
        height: 20px;
        top: 0;
        bottom: 0;
        left: 9px;
        transform: rotate(45deg);
    }
     
    .a-display-off {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        overflow: hidden;
        padding: 0;
        clip: rect(0, 0, 0, 0);
    }
     
    .a-modal-org-overlay {
        display: none;
        z-index: 190001;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
}